* {
    margin: 0px;
    padding: 0px;
}

/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* starting code from top  */
.top-section {
    width: 1200px;
    height: 646px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #161616;
    border-radius: 30px;

}

.first-title {
    Width: 480px;
    Height: 450px;
    margin-top: 111px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    color: #FFFFFF;
    padding-left: 5%;



}

.main-title {
    font-Weight: 700;
    font-size: 60px;
    

}

.first-title .top-para {
    
    font-weight: 400;
    font-size: 16px;
   
    
}

.top-button {
    text-decoration: none;
    color: #FFFFFF;
    background-image: linear-gradient(#DD0000, #DD0000);
    padding: 16px 25px;
    border-radius: 5px;
    

}

.animation {
    width: 60%;
    position: relative;
    animation-name: example;
    animation-duration: 2.5s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: #161616;
        left: 0px;
        top: 0px;
    }

    10% {
        background-color: #161616;
        left: 30px;
        top: 0px;
    }
}

.top-payer-icon img {
    margin: 33px 0px 0px 0px;
    Width: 580px;
    Height: 613px;


}

/* second section  */
.second-section {
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;


}

.match-sidebar {
    Width: 312px;
    Height: 312px;
    background-color: #161616;
    border-radius: 10px;
    margin-right: 20px;
    overflow-x: hidden;
}

.match-sidebar button {
    width: 252px;
    height: 64px;
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
}

.match-sidebar .white {
    background-color: #FFFFFF;

}

.match-sidebar #Red {
    background-color: #DD0000;
    color: white;

}

.match-sidebar a {
    text-decoration: none;
    color: black;
}

.match-sidebar .Blong-ancor {
    text-decoration: none;
    color: white;
}

.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

}

.full-match {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(22, 22, 22, 0.7);
}

.full-match img {
    width: 300px;
}

.full-match .match {
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-left: 7%;
}

.full-match .transfer {
    margin-top: 10px;
    width: 100px;
    height: 32px;
}

.match-margin {
    margin-top: 15px;

}

.icon-section .span-icon {
    padding-left: 10px;
}

.view-all-button {
    display: none;
    text-align: center;
    margin: 10px 0 80px 0;
}

/* footer section  */
footer {
    height: 350px;
    color: #FFFFFF;
    text-align: center;
    background-color: #161616;
    ;
}

.goal {
    padding: 60px 0px;
}

footer hr {
    margin: 0 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-info {
    padding: 50px 0px;
}

footer li {
    margin-top: 50px;
    display: inline;
    justify-content: space-between;
    padding: 0px 15px
}

footer .fa-brands {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 28px;

}

footer .icon {
    margin-top: 10px;
    padding-bottom: 20px;
}

/* second-page  */
.second-page {
    display: flex;
    justify-content: space-evenly;

}

.multiple-match {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;


}

.match-body {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(22, 22, 22, 0.7);
}

.match-body {
    text-align: center;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0px 0px 1px rgba(22, 22, 22, 0.7);
    border-radius: 5px;
    justify-content: space-evenly;

}

.single-match {
    height: 100px;
    display: flex;
    justify-content: space-between;
    justify-items: center;

    padding-top: 30px;

}

.title-vs {
    position: relative;
    margin-top: 20px;
}

/* media query section for mobile  */

@media only screen and (max-width:688px) {

    .top-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: auto;
        height: auto;
        overflow-x: hidden;
        margin-top: 50px;

    }

 

    .first-title .main-title {
        display: block;
        text-align: center;
        width: 95%;
        height: auto;
        font-Weight: 700;
        font-size: 40px;

    }

     .top-para {
        padding-right: 7%;
        width: 60%;
        font-size: 16px;
        text-align: center;
        margin: 50px auto;
    }
    .animation{
        margin: auto;
        padding-left: 10%;
    }

    .top-payer-icon img {
        width: 70%;
        height: auto;
        margin-left: 90px;
        overflow-x: hidden;
    }

    .second-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 30px 60px;
    }

    .match-sidebar {
        background-color: white;
        width: 100%;
        justify-content: center;
        justify-items: center;
        margin: auto;


    }

    .all-matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        overflow-x: hidden;
        justify-content: center;
        overflow-x: hidden;
        margin: auto;
    }

    .multiple-match {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        overflow-x: hidden;
        justify-content: center;
        overflow-x: hidden;
        margin: auto;
    }

    footer {
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }

    footer li {
        display: list-item;
        text-align: center;
        margin-bottom: 0px;


    }

}






/* media query for tablet  */

@media only screen and (min-width:688px) and (max-width:992px) {

    .top-section {
        margin: 50px auto;
        width: 90%;
        height: auto;
        overflow-x: hidden;
    }

    .first-title {

        margin-left: 70px;
    }

    .first-title .main-title {
        font-Weight: 700;
        font-size: 40px;

    }

    .first-title .top-paragrapg {
        font-size: 16px;
    }

    .top-payer-icon img {
        width: 100%;
    }

    .match-sidebar {
        background-color: white;
        width: 100%;
        display: flex;
        margin-bottom: -100px;


    }

    .match-sidebar button {
        width: 180px;
        height: 64px;



    }

    .second-section {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        margin: 30px 60px;
    }

    .all-matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        justify-content: space-evenly;
        overflow-x: hidden;
    }

    .multiple-match {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        overflow-x: hidden;
    }

    .multiple-match .match-body {
        width: 300px;
    }

    .view-all-button {
        display: block;
    }

    footer {
        width: 100%;
        height: auto;
    }

    footer .footer-info {
        width: 75%;
        margin: auto;


    }

    .footer-info li {
        display: inline-block;
        justify-content: center;


    }
}